<ion-content class="login center">
  <div class="row">
    <div class="col col-33 col-offset-33">
      <div class="item item-body">
        <i class="ion-person max"></i>
        <form ng-submit="submit()">
          <label class="item item-input">
            <input type="email" placeholder="Email" ng-model="login.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="login.password">
          </label>
          <button class="button button-full button-positive">Login</button>
        </form>
      </div>
    </div>
  </div>
</ion-content>